.container{
    display: flex;
    width: auto;
    height: 100vh;
    min-height: 100vh;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 0px 180px;
    box-sizing: border-box;
}