.container{
    display: flex;
    width: auto;
    height: 100vh;
    min-height: 100vh;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 0px 180px;
    box-sizing: border-box;
}

.fadeup-enter {
    opacity: 0.01;
    transform: translateY(20px);
    transition: opacity 300ms var(--easing), transform 300ms var(--easing);
  }

.fadeup-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}