.App {
  text-align: center;
  font-family: "Titillium Web",sans-serif;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 180px;
  gap: 50px;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 20px;
  line-height: 1.0;
}

p {
  font-size: var(--fz-lg);
  margin: 0px 0px 15px;
}

.sec_container{
  padding: 100px 100px;
  box-sizing : border-box;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

:root {
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;

  --fz-sec: 32px;
  
  --header-height : 75px;
  --header-float-height : 50px;
  --logo-size : 36px;
  --transition : all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
