.header{
    padding: 0px 60px;
    width:auto;
    height: var(--header-height);
    position: sticky;
    transition: var(--animation);
}

.row{
    position: relative;
    top:50%;
    transform:translateY(-50%);
}

.logo{
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content:space-between;
    color: #00112B;
}

.nav{
    font-size: var(--fz-sm);
    display: flex;
    justify-content:space-between;
}

.navA{
    color: #00112B;
}

.top {
    top: 0px;
}

.down {
    top: -80px;
}

.up {
    top: 0px;
    padding: 0px 60px;
    height: var(--header-float-height);
    box-shadow: 0px -15px 20px 0px #00112b

}