.header{
    padding: 20px 60px;
    position: sticky;
    transition: inherit;
}

.logo{
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content:space-between;
    color: #00112B;
}

.nav{
    font-size: 12px;
    display: flex;
    justify-content:space-between;
}

.navA{
    color: #00112B;
}

.top {
    top: 0px;
}

.down {
    top: -80px;
}

.up {
    top: 0px;
    padding: 8px 60px;
    box-shadow: 0px 0px 10px 0px #00112b

}